*{
    font-family: 'Libre Baskerville', serif;
}
.main{
    padding: 35px;
}
.T-bold{
    font-weight: bold;
}
#main-content{
    margin-bottom: 10px;
}
.sub-content{
    margin-bottom: 3%;
}
#sub-url{
    color: black;
    text-decoration: none;  
    font-weight: bold;
    display: inline;
}
#content{
    font-weight: bold;
    margin-top: 85px;
    margin-bottom: 85px;
    margin-left: 35px;
}
#heading{
    margin-bottom: 45px;
    
}
#sub{
    font-weight: bold;
    display: inline;
    align-items: baseline;
    padding-right: 15px;
}
.picture{
    height: 400px;
    width: 550px;
}

